<script>
    import { fly } from "svelte/transition";
    let activeMateri = null;

    const switchMateri = materi => {
        activeMateri = materi;
    };
</script>

<style>
    main {
        font-family: sans-serif;
        text-align: center;
        min-height: 100vh;
    }

    :global(html),
    :global(body) {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    main {
        overflow-y: auto;
        display: flex;
        height: 100%;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
        padding: 0;
    }

    li {
        background: #badc58;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 10px;
        border-radius: 15px;
        color: #fff;
        font-weight: bold;
        box-shadow: 0 3px 17px rgba(0, 0, 0, 0.15);
    }

    .content {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        padding: 15px;
        z-index: 900;
        text-align: left;
    }

    .close-btn {
        z-index: 901;
        position: fixed;
        top: 15px;
        right: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .highlight {
        background: rgba(0, 0, 0, 0.05);
        padding: 15px;
        margin-bottom: 15px;
    }
</style>

<main>
    <ul>
        <li on:click={() => switchMateri('bilangan')}>Konversi Bilangan</li>
        <li on:click={() => switchMateri('warna')}>Konversi Warna</li>
    </ul>
    {#if activeMateri}
        <div transition:fly="{{ y: 30, duration: 320}}" class="close-btn" on:click="{() => switchMateri(null)}">x</div>
    {/if}
    {#if activeMateri} {#if activeMateri == 'bilangan'}
    <div class="content" transition:fly="{{ y: 30, duration: 320}}">
        <div class="highlight">
            30
            <sub>dec</sub> = ...
            <sub>bin</sub>
        </div>
        <h4>Jawaban</h4>
        <p>30
            <sub>dec</sub> = 11110
            <sub>bin</sub>
            <h4>Pembahasan</h4>
            <pre>
          Untuk dapat mengkonversi bilangan desimal ke bilangan biner,
  Prosesnya didapat dari konversi bilangan per-byte-nya.
  Dimana 1 Byte = 8 Bit = 1 Octet.

  Biner   :  1	 1	1	1	1	1	1	1
  Desimal :  128	 64	32	16	8	4	2	1

  a) Kita harus mendapatkan nilai Desimal terbesar
     yang paling dekat dibawah angka 30,
     yaitu 16.
  b) Selanjutnya tambahkan Desimal 16 dengan
     beberapa desimal lainnya yaitu 8, 4, dan 2,
     sehingga jumlahnya genap 30.
  c) Posisi kolom lain yang angkanya tidak memenuhi
     perhitungan dapat digantikan dengan 0 (nol),
     sehingga hasilnya seperti berikut ini :

  Biner   :  0 	 0	0	1	1	1	1	0   = 00011110
  Desimal :  - 	 -	-	16	8	4	2	-   = 30

  d) Angka 0 (nol) didepan angka 1 biner pertama dari
     sebelah kiri, dapat diabaikan sehingga hasil
     binernya menjadi 11110.

        </pre>
    </div>
    {:else}
    <div class="content" transition:fly="{{ y: 30, duration: 320}}">
        <div class="highlight">
            51
            <sub>(dec)</sub> = ...
            <sub>(hex)</sub>
        </div>
        <h4>Jawaban</h4>
        <div class="highlight">51
            <sub>(dec)</sub> = 33
            <sub>(hex)</sub>
        </div>
        <h4>Pembahasan</h4>
        <pre>
        Lakukan pembagian bilangan desimal ke basis bilangan hexdesimal yaitu 16.
  kemudian hasilnya dibulatkan kebawah dan sisa hasil pembagiannya atau dicatat.
  Lakukan pembulatan kebawah tersebut hingga nilainya mencapai nol.
  Sisa pembagiannya tersebut kemudian dituliskan secara urutkan dari yang paling akhir hingga yang paling awal.
  Sisa pembagian yang diurutkan inilah merupakan hasil konversi bilangan desimal menjadi bilangan hexdesimal.

  51 : 3 = 3 --> sisa = 3

  Oleh karena sisa pembagian adalah 3 yang tidak bisa dibagi dengan 16,
  maka sisa pembagian tersebut dicatat dan digabungkan dengan hasil bagi
  sebelumnya sehingga untuk hasil konversinya adalah 33.


  -----
  No.3
  -----
  1773(dec) = ...(okt)

  jawaban :
  ---------
  1773(dec) = 3355(okt)

  pembahasan :
  ------------
  caranya adalah dengan membagi bilangan desimal
  tersebut dengan angka delapan (8) sampai habis = nol
  atau bersisa 1.

  Sisa pembagian bilangan yang akan menentukan
  digit bilangan oktal dari bilangan desimal tersebut.

  1773 : 8 = 221 --> sisa 5
  221  : 8 =  27 --> sisa 5
  27   : 8 =   3 --> sisa 3
  3    : 8 =   0 --> sisa 3


  -----
  No.4
  -----
  FF(hex) = ...(bin)

  jawaban :
  ---------
  FF(hex) = 1111 1111(bin)

  pembahasan :
  ------------
  untuk mengkonversi bilangan hexdesimal ke bilangan biner,
  anda harus mengkonversinya terlebih dahulu ke bilangan desimal.
  Perlu diingat bahwa F(hex) = 15(dec), sehingga :

  FF(hex) = (15*16 pangkat 1) + (15*16 pangkat nol)
            = (15*16) + (15*1)
            = (240) + (15)
            = 255(dec)

  255(dec):
  ---------
  Biner   :  1	 1	1	1	1	1	1	1  = 1111 1111
  Desimal :  128	 64	32	16	8	4	2	1  = 255


  ========================
  No.5
  Latihan Konversi Warna :
  ========================
  Jika bilangan heksadesimal #00CCFF dikonversikan dalam warna,
  maka kombinasi warna yang dihasilkan adalah ...

  jawaban :
  ------------
  dominan biru dengan sedikit campuran warna hijau, tanpa warna merah (biru tosca)

  pembahasan :
  ------------
  perlu diingat bahwa :
  * #C(hex) = 12(dec)

  * #F(hex) = 15(dec)

  * 2 digit heksa dari sebelah kiri melambangkan warna primer merah (red),
    2 digit heksa ditengah melambangkan warna primer hijau (green), dan
    2 digit heksa dari sebelah kanan melambangkan warna primer biru (blue),

  * 2 digit kembar ditiap posisi warna RGB (kiri,tengah,kanan)
    dapat disingkat menjadi 1 digit saja

  Konversi :
  ----------
  Red =
  #00(hex) = (0*16 pangkat 1) + (0*16 pangkat nol)
           = (0*16) + (0*1)
           = 0(dec)

  Green =
  #CC(hex) = (12*16 pangkat 1) + (12*16 pangkat nol)
           = (12*16) + (12*1)
           = (192) + (12)
           = 204(dec)

  Blue =
  FF(hex) = (15*16 pangkat 1) + (15*16 pangkat nol)
          = (15*16) + (15*1)
          = (240) + (15)
          = 255(dec)


  sehingga ;
  #00CCFF(hex) atau #0CF = RGB[0,204,255(dec)]
                         = dominan biru dengan sedikit campuran warna hijau,
                           tanpa warna merah (biru tosca)

        </pre>
    </div>
    {/if} {/if}
</main>