<svelte:head>
    <title>ChronumCalc Materials</title>
</svelte:head>

<script>
    import MateriHeksadesimal from "./../components/Materiheksadesimal.svelte";
    import MateriIntBinary from "./../components/MateriIntBinary.svelte";
    import MateriDesimalOktal from "./../components/MateriDesimalOktal.svelte";

    // variable definitions
    let lessons = [
      { label: "Materi Bilangan Heksadesimal", component: MateriHeksadesimal },
      {
        label: "Konversi Bilangan Integer ke Bilangan Biner",
        component: MateriIntBinary
      },
      {
        label: "Konversi Bilangan Desimal ke Bilangan Oktal",
        component: MateriDesimalOktal
      }
    ];
    let activeComponent;

    // methods
    function toggleLesson(index) {
      activeComponent =
        activeComponent != lessons[index].component
          ? lessons[index].component
          : null;
    }
  </script>

  <style>
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    :global(body) {
      padding: 30px;
      font-family: Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      margin-top: 60px;
    }
    ul.lesson-list {
      list-style: none;
    }
    ul.lesson-list li {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
      margin: 30px 0;
    }
    .lesson-header {
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      cursor: pointer;
    }
    .lesson-header span {
      background: #00cec9;
      color: #fff;
      display: block;
      padding: 3px 15px;
      border-radius: 10px 0 0 10px;
      transform: translateX(15px);
    }
    :gobal(.lesson-content) {
      padding: 15px;
    }
    :global(.lesson-content p) {
      line-height: 1.7em;
    }
    :global(table) {
      border-collapse: collapse;
    }
    :global(td, th) {
      border: 1px solid #ddd;
      padding: 3px 7px;
    }
    :global(th) {
      background: #ccc;
      text-align: center;
    }
    @media screen and (min-width: 1000px) {
      body {
        padding: 30px;
      }
    }
  </style>

  <h1>Materi</h1>
  <ul class="lesson-list">
      {#each lessons as lesson, index (index) }
      <li>
          <div on:click={() => toggleLesson(index)} class="lesson-header">
              <div>{lesson.label}</div>
              <span>{index+1}</span>
          </div>
          {#if activeComponent == lesson.component}
          <div class="lesson-content" v-if="lesson == 'heksadesimal'">
              <svelte:component this={activeComponent} />
          </div>
          {/if}
      </li>
      {/each}
</ul>