<div>
	<p>Konversi bilangan Desimal ke bilangan Oktal, dilakukan dengan cara membagi bilangan desimal tersebut dengan angka
		delapan (8) sampai habis = nol atau bersisa 1. Sisa pembagian bilangan yang akan menentukan digit bilangan oktal dari
		bilangan desimal tersebut. Berikut ini adalah contoh konversi bilangan desimal ke bilangan oktal.</p>
	<p>
		<strong>625</strong><sub>(des)</sub> = ........<sub>(okt)</sub>
	</p>
	<p>Perhitungan dibawah ini dapat menjelaskan langkah-langkah untuk mengkonversi angka 625 yang bersifat desimal
		menjadi bilangan oktal.</p>
	<pre>
        625 : 8   = 78 sisa 1
78 : 8    = 9 sisa 6
9 : 8     = 1 sisa 1
1 : 8     = 0 sisa 1
    </pre>
	<p>Sehingga : <strong>625<sub>(des)</sub></strong> = <strong>1161<sub>(okt)</sub></strong></p>
	<p>Apabila bilangan oktal tersebut akan dikonversikan kembali menjadi bilangan desimal, maka contoh perhitungan pada
		gambar 2 akan menjawabnya.</p>
	<pre>
        1161(okt) = 625(des)
1     1     6     1
|     |     |     |
8(3)  8(2)  8(1)  8(0)
1161(okt) = 1x8^3 + 1x8^2 + 6x8^1 + 1x8^0
          = 512 + 64 + 48 + 1
          = 625(des)
    </pre>
</div>