<div>
	<p>
		Sistem konversi bilangan ini termasuk dalam ranah
		materi chromosome algoritma genetika. Kromosom dalam
		algoritma genetika dapat dibentuk dari bilangan numerik
		(integer/real), biner, maupun karakter. Materi kromosom
		dalam algoritma genetika ini hampir sama halnya dengan
		materi sub-netting dalam mata kuliah pengantar jaringan.
		Dalam materi sub-netting, kita harus menerjemahkan bilangan
		desimal ke dalam rangkaian bilangan biner. Proses
		penerjemahan ini didapat dari konversi bilangan per-byte-nya.
		Dimana, 1 Byte = 8 Bit = 1 Octet.
	</p>
	<h3>Tabel 1. Komposisi Biner-Desimal</h3>
	<table>
		<tr>
			<th><strong>Biner</strong></th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
			<th>1</th>
		</tr>
		<tr>
			<th><strong>Desimal</strong></th>
			<td>128</td>
			<td>64</td>
			<td>32</td>
			<td>16</td>
			<td>8</td>
			<td>4</td>
			<td>2</td>
			<td>1</td>
		</tr>
	</table>
	<p></p>
	<p>
		Tabel biner tesebut digunakan untuk mendapatkan deret biner dari sebuah bilangan integer. Sebagai contoh, kita akan
		mengubah angka 30 menjadi bilangan biner. Berdasarkan table 1, kita dapat melakukan beberapa langkah dibawah ini :
	</p>
	<ul>
		<li>Kita harus mendapatkan nilai Desimal terbesar yang paling dekat dibawah angka 30, yaitu 16.</li>
		<li>Selanjutnya tambahkan Desimal 16 dengan beberapa desimal lainnya yaitu 8, 4, dan 2, sehingga jumlahnya genap 30.</li>
		<li>
			Posisi kolom lain yang angkanya tidak memenuhi perhitungan dapat digantikan dengan 0 (nol), sehingga hasilnya
			seperti tabel 2.
			<h3>Tabel 2. Contoh Perhitungan Konversi Biner-Desimal</h3>
			<table>
				<tr>
					<th>Biner</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>0</td>
					<th rowspan="2">30</th>
				</tr>
				<tr>
					<th>Desimal</th>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>16</td>
					<td>8</td>
					<td>4</td>
					<td>2</td>
					<td>-</td>
				</tr>
			</table>
		</li>
		<li>Angka 0 (nol) didepan angka 1 biner pertama dari sebelah kiri, dapat diabaikan sehingga hasil binernya menjadi
			11110.</li>
	</ul>

	<p>
		Langkah kerja pada tabel 1 dan tabel 2 dapat kita substitusikan kedalam materi Chromosome Algoritma Genetika. Ada
		banyak cara untuk mentransformasikan bilangan integer ke bilangan biner. Hal ini bergantung pada sifat bilangan
		integer itu sendiri. Tabel 3 menjelaskan sifat bilangan integer yang akan memiliki angka 0 (nol) sebagai sisa hasil
		bagi.
	</p>

	<h3>Tabel 3. Sifat Bilangan Integer</h3>
	<table>
		<thead>
			<tr>
				<th>Habis Dibagi</th>
				<th>Ciri-ciri Bilangan</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2</td>
				<td>Apabila Digit terakhir adalah bilangan genap</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Apabila Jumlah digitnya habis dibagi 3</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Apabila dua digit terakhir habis dibagi 4</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Apabila digit terakhir 0 atau 5</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Apabila tiga digit terakhir habis dibagi 8</td>
			</tr>
			<tr>
				<td>9</td>
				<td>Apabila jumlah digitnya habis dibagi 9</td>
			</tr>
			<tr>
				<td>11</td>
				<td>Apabila selisih digit-digit pada tempat bilangan gajil atau bilangan genap adalah 0 (nol)</td>
			</tr>
		</tbody>
	</table>
</div>