<div>
	<p>
		Bilangan Heksadesimal merupakan bilangan yang memiliki nilai basis 16.
		Dimana nilai kekuatan basis 16 ini ditentukan dari posisi mulai dari
		sebelah kanan ke arah sebelah kiri.
	</p>
	<p></p>
	<p>
		Semakin banyak digit bilangan dari kanan ke kiri, maka nilai pangkat
		dari basis 16 ini semakin besar yaitu mulai dari pangkat nol (0)
		sampai n-1 banyaknya digit heksadesimal.
	</p>

	<p>
		Angka heksadesimal ditulis dalam bentuk 10 karakter yang berbeda,
		yaitu :
		<br>1,2,3,4,5,6,7,8,9,
		<br>A(10),B(11),C(12),D(13),E(14),F(15)
	</p>

	<p>Bentuk lain dari konversi dari bilangan heksadesimal dapat berupa :</p>
	<ol>
		<li>Kode ASCII</li>
		<li>Kode warna dalam Hypertext MarkUp Language (HTML)</li>
	</ol>

	<h3>konversi Heksa-Desimal</h3>

	<p>
		untuk mengkonversi bilangan heksadesimal ke bilangan desimal
		dapat dilakukan dengan cara mengalikan masing-masing digit
		bilangan heksadesimal dengan perpangkatan angka basisnya.
	</p>

	<p>contoh :</p>
	<pre>3A(hex) = ...(dec)</pre>

	<p>caranya :</p>
	<pre>
perlu diingat bahwa A(hex) = 10(dec)
3A(hex) = (3*16 pangkat 1) + (10*16 pangkat nol)
        = (3*16) + (3*1)
        = (48) + (3)
        = 51(dec)
jadi,
3A(hex) = 51(dec)
        </pre>

	<h3>Konversi Heksadesimal-Warna</h3>
	<p>
		untuk mengkonversi bilangan heksadesimal ke tampilan warna,
		kita harus mengkonversinya terlebih dahulu ke bentuk
		bilangan desimal.
	</p>

	<p>
		Untuk dapat menghasilkan kombinasi warna dari bilangan heksadesimal,
		kita dapat menggunakan kombinasi angka desimal dari palet warna RGB
		atau karakter triplet RGB heksadesimal.
	</p>

	<p>
		Pada sistem palet warna RGB, masing-masing terdapat 2 digit untuk
		Merah (Red), Hijau (Green), dan Biru (Blue).
	</p>

	<p>2 digit heksa dari sebelah kiri melambangkan warna primer merah (red),</p>
	<p>2 digit heksa ditengah melambangkan warna primer hijau (green), dan</p>
	<p>2 digit heksa dari sebelah kanan melambangkan warna primer biru (blue),</p>

	<p>
		2 digit kembar ditiap posisi warna RGB (kiri,tengah,kanan)
		dapat disingkat menjadi 1 digit saja
	</p>

	<table>
		<thead>
			<tr>
				<th rowspan="2">Warna</th>
				<th rowspan="2">Triplet Heksa-desimal</th>
				<th colspan="3">Heksa-desimal</th>
				<th colspan="3">Desimal</th>
			</tr>
			<tr>
				<th>R</th>
				<th>G</th>
				<th>B</th>
				<th>R</th>
				<th>G</th>
				<th>B</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hitam</td>
				<td>#000000</td>
				<td>00</td>
				<td>00</td>
				<td>00</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Putih</td>
				<td>#FFFFFF</td>
				<td>FF</td>
				<td>FF</td>
				<td>FF</td>
				<td>255</td>
				<td>255</td>
				<td>255</td>
			</tr>
			<tr>
				<td>Biru Tua</td>
				<td>#0000FF</td>
				<td>00</td>
				<td>00</td>
				<td>FF</td>
				<td>0</td>
				<td>0</td>
				<td>255</td>
			</tr>
		</tbody>
	</table>

	<p>contoh :</p>
	<pre>
--------
#00CCFF(hex) = RGB[... , ... , ...] = warna ...

caranya :
----------
Red =
#00(hex) = (0*16 pangkat 1) + (0*16 pangkat nol)
        = (0*16) + (0*1)
        = 0(dec)

Green =
#CC(hex) = (12*16 pangkat 1) + (12*16 pangkat nol)
        = (12*16) + (12*1)
        = (192) + (12)
        = 204(dec)

Blue =
FF(hex) = (15*16 pangkat 1) + (15*16 pangkat nol)
        = (15*16) + (15*1)
        = (240) + (15)
        = 255(dec)

Jadi, hasil konversi #00CCFF(hex) atau #0CF
adalah RGB[0,204,255] dalam bilangan desimal.

Warna yang dihasilkan dari kombinasi bilangan
desimal tersebu adalah dominan biru dengan
sedikit campuran warna hijau, tanpa warna
merah alias warna biru tosca.
        </pre>
</div>